<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="box col3">
  	<p>Title</p>
    <a href="posts/index">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</a>
  </div>

  <div class="box col3">
    <p>Title</p>
    <a href="">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</a>
  </div>

  <div class="box col3">
    <p>Title</p>
    <a href="">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</a>
  </div>

   <div class="box col3">
    <p>Title</p>
    <a href="">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</a>
  </div>

   <div class="box col3">
    <p>Title</p>
    <a href="">Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</a>
  </div>

</body>
</html>




