// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Glegoo', serif;
$font-stack: 'Karma', serif;

body {
	background-color: #E0DDE2;
	font-style: $font;
	font-size: 1000%
}