// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font: 'Glegoo', serif;
$font-stack: 'Karma', serif;
$palepurple: #E0DDE2;
$heading: darken($palepurple, 10%);
$heading2: darken($palepurple, 5%);

body {
	background-color: $palepurple;
	font-size: 700%
}

#title {
	background-color: $heading;
	font-family: $font;
}

#title a {

}

.box {
	position: relative;
	font-family: $font-stack;
	font-size: 0.25em;
}

.box li {
  perspective: 250px;
}

.box a img {
  transition: 100ms;
  transform: translateZ(0px);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.box a img:hover {
  transform: translateZ(30px) rotate(3deg);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}
